.filter-container {
  background: white;
  border-radius: 20px;
  padding: 1rem;
  margin: 3rem;
}

.filter-card {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 2rem;
}

.filter-card button {
  background: #f2f4ff;
  color: #4661e6;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 0.15rem;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.filter-card button:hover {
  background: #cfd7ff;
}

.filter-card button.active {
  background: #4661e6;
  color: white;
}
